.pokemon-item {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.addButton {
  background-color: green;
  color: white;
  border: none;
  padding: 1px 8px;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 2px;
}

  .removeButton {
    background-color: red;
    color: white;
    border: none;
    padding: 1px 8px;
    margin-left: 8px;
    cursor: pointer;
    border-radius: 2px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #d5def1f6;
  }
  
  
  .pokemonDetail {
    flex: 1; 
    margin-right: 100px; 
  }
  
  .favoritesList {
    flex: 1;
  }
  
  .heading {
    margin-bottom: 20px;
}

.pokemonList {
    list-style-type: none;
    padding: 0;
}

.pokemonListItem {
    margin-bottom: 10px;
}
  

.scrollableList {
  max-height: 400px; 
  overflow-y: auto;
}